@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url("./variables.css");
@import url("./filler.css");

@import url("./components/header/index.css");
@import url("./components/section/index.css");

html, body, .app-container {
	height: 100%;
	width: 100%;
	line-height: 1.4;
}

body {
	font-family: "Bebas Neue", display;
	background-color: var(--primary);
}

* {
	box-sizing: border-box;
}

/* MediaQueries "forkadas" do Bootstrap */
/* @media (max-width: 575.98px) { body { background-color: red; } } */
/* @media (min-width: 576px) and (max-width: 767.98px) { body { background-color: orange; } } */
/* @media (min-width: 768px) and (max-width: 991.98px) { body { background-color: purple; } } */
/* @media (min-width: 992px) and (max-width: 1199.98px) { body { background-color: rebeccapurple; } } */
/* @media (min-width: 1200px) and (max-width: 1399.98px) { body { background-color: brown; } } */
/* @media (min-width: 1400px) { body { background-color: fuchsia; } } */